h1 a, h2 a {
    color: #ff3300;
    background: cyan;
}
body{
    padding-left: 50px;
     font-family: 'Lobster', cursive;

}

.page-header{
    text-align: center;
    color: #ff3300;
    font-size: 36pt;
    text-decoration: none;
}
